* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Monserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  border: none;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Dropdown Menu */

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  background-color: rgb(99, 169, 142);
  border-radius: 5px;
  margin-top: 5px;
  min-width: 320px;
  opacity: 0;
  overflow:hidden;
  position: absolute;
  transition-duration: 0.3s;
  visibility: hidden;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  display: block;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #0A726F;
}

.dropdown:hover .dropdown-content {
  display: block;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s linear;
}

/* Carousel CSS */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1095px;
  height: 300px;
}

.right-arrow {
  position: absolute;
  top: 39%;
  right: 140px;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background:rgba(245, 245, 245, .2);
  border-radius: 50%;
  padding: 10px 10px 10px 12px;
}

.left-arrow {
  position: absolute;
  top: 39%;
  left: 140px;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  background:rgba(245, 245, 245, .2);
  border-radius: 50%;
  padding: 3px 3px 3px 17px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}